body{
    margin: 0px;
    padding: 0px;
}

#collagecontainer{
    overflow: auto;
    text-align: center;
    min-height: 100px;
    min-width: 350px; /*If this needs to go lower update the minwidth variable in the js.*/
}

.collagerow{
    overflow: auto;
    display: inline-block;
    margin: auto;
    clear: both;
}

.collageitem{
    float: left;
    width: 200px;
    color: white;
    background-color: #EEE;
    transition: background 1s;
    position: relative;
    background-size: cover;
}


/*Ensures sqaure layout based on width.*/
.collageitem > .inner{
    padding-bottom: 100%;
    overflow: hidden;
    height: 0px;
    width: 100%;
}


.collageitem[desc]:hover > .inner{
    background-color: rgba(200, 100, 0, .5);
}


.collageitem[desc] > .inner > .description{
    margin-bottom: 5%;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
    font-family: arial;
    font-size: 20px;
    color: white;
    visibility: hidden;
}

.collageitem:hover > .inner > .description{
   visibility: visible;
}
