body{
    margin: 0px;
    padding: 0px;
}

#collagecontainer{
    text-align: center;
    background-color: black;
    min-height: 100px;
}

.collagerow{
    overflow: auto;
    display: inline-block;
    margin: auto;
    clear: both;
}

.collageitem{
    float: left;
    padding: 5px;
    margin: 2px;
    height: 200px;
    width: 200px;
    color: white;
    background-color: #EEE;
    transition: background 1s;
    position: relative;
    background-size: cover;
}


.collageitem > .collagedescription{
    visibility: hidden; 
    /*height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: ignore;*/
}


.collageitem:hover > .collagedescription{
   visibility: visible;
}
